app-main-section {
    display: flex;
    flex-direction: column;
    row-gap: 25px;
    background-color: #F5F5F5;
    height: 85%;
    padding: 24px;
}

@media (max-width: 900px) {
    app-main-section {
        height: 100%;
    }
}

@media (max-width: 380px) {
    app-main-section {
        height: 1675px;
        row-gap: 10px;
        padding-bottom: 5px;
    }
}