.selectionWrapper {
    display: flex;
    column-gap: 15px;
    padding: 10px;
    align-items: center;
    cursor: pointer;

    img {
        width: 20px;
        height: 20px;
    }

    .textWrapper {
        a {
            text-decoration: none;

            span {
                font-family: sans-serif;
                font-weight: 500;
                font-size: 1rem;
                color: #5F6165;
            }
        }
    }

    &:hover {
        background-color: #F3F5F8;
        border-radius: 14px;
    }
}

.active {
    background-color: #F3F5F8;
    border-radius: 14px;
}

.selected {
    background-color: #F3F5F8;
    border-radius: 14px;
}

@media (max-width: 900px) {
    .selectionWrapper {
        transition: 0.3s;
    }
}

@media (max-width: 380px) {
    .selectionWrapper {
        .textWrapper {
            span {
                font-size: 0.7rem;
            }
        }

        img {
            width: 16px;
            height: 16px;
        }
    }
}