<div class='signin-page'>
    <div class='first-item'>
        <span class='head'>Get's started</span>
        <div>
            <span>Don't have an account?</span>
            <a class='link' routerLink="/signup"> Sign up</a>
        </div>
    </div>
    <div class='second-item'>
        <div class='third-party-btns'>
            <button class="auth-btn google">
                <img src="assets/images/Auths/GoogleLogo.png" />
                <span>Sign in with Google</span>
            </button>
            <button class="auth-btn facebook">
                <img src="assets/images/Auths/FacebookLogo.png" />
                <span>Sign in With Facebook</span>
            </button>
        </div>
        <div>
            <hr />
            <span>or</span>
            <hr />
        </div>
        <form class='signin-form' #f="ngForm">
            <div class='input-fields'>
                <div class='email-sec'>
                    <span>Email</span>
                    <div class='auth-in-data'>
                        <input ngModel name='email' class='auth-in' type='email' placeholder='Enter your email' />
                    </div>
                </div>
                <div class='password-sec'>
                    <span>Password</span>
                    <div class='auth-in-data'>
                        <input ngModel name='password' class='auth-in' type='password'
                            placeholder='Enter your Password' />
                        <a>
                            <img src="assets/images/Auths/passVisibilty.png" />
                        </a>
                    </div>
                </div>
            </div>
            <div class='helper-sec'>
                <div>
                    <input type="checkbox" />
                    <span>Remember me</span>
                </div>
                <a class='link'>Forget your password?</a>
            </div>
            <button (click)="onSignIn()" type="submit" class='signin-btn'>Sign in</button>
        </form>
    </div>
</div>