.head-section {
    span {
        font-family: sans-serif;
        font-weight: 700;
    }
}

.cardsSection {
    // display: grid;
    // grid-template-columns: repeat(auto-fit, minmax(16rem, 0.5fr));
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 24px;
}