.head-section {
    span {
        font-family: sans-serif;
        font-weight: 700;
    }
}

.filter {
    display: flex;
    justify-content: space-between;

    .filterSpecs {
        display: flex;
        align-items: center;
        column-gap: 16px;

        .filter-menu {
            background-color: #FFFFFF;
            border-radius: 22.5px;
            border-width: 0;
            height: 36px;
            text-align: center;
        }

        #carStatus {
            width: 122px;
        }

        #carType {
            width: 143px;
        }
    }

    .filterSorting {
        display: flex;

        img {
            width: 44px;
            height: 44px;
        }
    }
}

.cardsSection {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
    column-gap: 24px;
    row-gap: 24px;
}