<div class='head-section'>
    <span>Booking</span>
</div>
<div class="filter">
    <div class="filterSpecs">
        <select onChange={statusChangeHandler} class='filter-menu' name="status" id="carStatus">
            <option value="All">All</option>
            <option value="New">New</option>
            <option value="Used">Used</option>
        </select>
        <select onChange={typeChangeHandler} class='filter-menu' name="type" id="carType">
            <option value="All">All</option>
            <option value="Toyota">Toyota</option>
            <option value="BMW">BMW</option>
            <option value="Mercedes">Mercedes</option>
            <option value="Bentley">Bentley</option>
            <option value="Porche">Porche</option>
        </select>
    </div>
    <div class="filterSorting">
        <div>
            <img src="assets/images/navbar/menuGrid.png" />
        </div>
        <div>
            <img src="assets/images/navbar/Filter.png" />
        </div>
    </div>
</div>
<div class="cardsSection">
    <ng-container *ngFor="let car of cars">
        <app-car-card *ngIf="car.name.includes(carName) || carName ===''" [carData]="car"></app-car-card>
    </ng-container>
</div>