.form {
    width: 460px;
    height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    .input-fields {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 420px;
        padding: 20px 20px 20px 20px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
        border-radius: 10px;

        .field {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            height: 70px;

            .auth-in-data {
                .auth-in {
                    width: 310px;
                    height: 35px;
                    border-radius: 10px;
                    border: 1px solid #B1B5C3;
                    color: black;
                    font-family: sans-serif;
                    font-weight: 400;
                    font-size: 14px;

                    &:focus {
                        outline-width: 0;
                    }
                }

                .pass {
                    background: url("../../assets/images/Auths/passVisibilty.png") no-repeat right;
                    background-size: 20px 13px;
                }

                .ng-invalid.ng-touched {
                    border: 1px solid red;
                }
            }

            .radioChoices {
                display: flex;
                justify-content: space-around;
                width: 300px;
            }

            .error {
                color: #7C7C8D;
                font-size: 12px;
                font-weight: 300;
            }
        }
    }

    .helper-sec {
        display: flex;
        justify-content: space-between;

        span {
            font-weight: 500;
            font-size: 16px;
            font-family: sans-serif;
            color: #B1B5C4;
        }

        .link {
            text-decoration: none;
            font-weight: 500;
            font-size: 16px;
            font-family: sans-serif;
            color: #A162F7;
            cursor: pointer;
        }
    }

    .signup-btn {
        width: 100%;
        height: 45px;
        background-color: #A162F7;
        color: #FFFFFF;
        font-size: 20px;
        font-weight: 700;
        border: 0;
        border-radius: 10px;
        cursor: pointer;

        &:disabled {
            background-color: #B1B5C4;
            cursor: default;
        }
    }
}