<form class='form' [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class='input-fields'>
        <div class='field'>
            <span>First Name</span>
            <div>
                <div class='auth-in-data'>
                    <input formControlName="first name" class='auth-in' type='text' placeholder='Enter your First Name'>
                </div>
                <!-- <span class="error" *ngIf="!fName.valid && fName.touched">{{errorMessage}}first name</span> -->
            </div>
        </div>

        <div class='field'>
            <span>Last Name</span>
            <div>
                <div class='auth-in-data'>
                    <input formControlName="last name" class='auth-in' type='text' placeholder='Enter your Last Name'>
                </div>
                <!-- <span class="error" *ngIf="!lName.valid && lName.touched">please enter your last name</span> -->
            </div>
        </div>

        <div class='field'>
            <span>Email</span>
            <div>
                <div class='auth-in-data'>
                    <input formControlName="email" class='auth-in' type='email' placeholder='Enter your email' email>
                </div>
                <!-- <span class="error" *ngIf="!eml.valid && eml.touched">please enter your email</span> -->
                <!-- <span class="error" *ngIf="!eml.">please enter a valid email</span> -->
            </div>
        </div>

        <div class='field'>
            <span>Password</span>
            <div>
                <div class='auth-in-data'>
                    <input formControlName="password" class='auth-in pass' type='password'
                        placeholder='Enter your password'>
                    <!-- <a style="z-index: 1;">
                        <img src="assets/images/Auths/passVisibilty.png" />
                    </a> -->
                </div>
                <!-- <span class="error" *ngIf="!pass.valid && pass.touched">please enter your password</span> -->
            </div>
        </div>

        <div class='field'>
            <span>Confirm Password</span>
            <div>
                <div class='auth-in-data'>
                    <input formControlName="confirm password" class='auth-in pass' type='password'
                        placeholder='Enter your confirmed password'>
                    <!-- <a>
                        <img src="assets/images/Auths/passVisibilty.png" />
                    </a> -->
                </div>
                <!-- <span class="error" *ngIf="!confirmPass.valid && confirmPass.touched">please enter your confirmed
                password</span> -->
            </div>
        </div>

        <div class='field'>
            <span>Gender</span>
            <div class="radioChoices">
                <label>
                    <input formControlName="gender" type="radio" value="Male">
                    Male
                </label>
                <label>
                    <input formControlName="gender" type="radio" value="Female">
                    Female
                </label>
            </div>
        </div>

        <div class='field'>
            <span>Age</span>
            <div>
                <div class='auth-in-data'>
                    <input formControlName="age" class='auth-in' type='text' placeholder='Enter your age'>
                </div>
                <!-- <span class="error" *ngIf="!ageRef.valid && ageRef.touched">please enter your age</span>
                <span class="error" *ngIf="ageRef.valid && ageRef.value <= 16 && ageRef.touched">Your age must be
                    +16</span> -->
            </div>
        </div>
    </div>
    <div class='helper-sec'>
        <div>
            <input type="checkbox" />
            <span>Remember me</span>
        </div>
        <a class='link'>Forget your password?</a>
    </div>
    <button type="submit" class='signup-btn'>Sign up</button>
</form>