<form class='form' [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class='input-fields'>
        <div class='field'>
            <span>First Name</span>
            <div>
                <div class='auth-in-data'>
                    <input formControlName="first name" class='auth-in' type='text' placeholder='Enter your First Name'>
                </div>
                <span class="error"
                    *ngIf="!form.get('first name').valid && form.get('first name').touched">{{errorMessage}}first
                    name</span>
            </div>
        </div>

        <div class='field'>
            <span>Last Name</span>
            <div>
                <div class='auth-in-data'>
                    <input formControlName="last name" class='auth-in' type='text' placeholder='Enter your Last Name'>
                </div>
                <span class="error" *ngIf="!form.get('last name').valid && form.get('last name').touched">please enter
                    your last name</span>
            </div>
        </div>

        <div class='field'>
            <span>Email</span>
            <div>
                <div class='auth-in-data'>
                    <input formControlName="email" class='auth-in' type='email' placeholder='Enter your email' email>
                </div>
                <span class="error" *ngIf="!form.get('email').valid && form.get('email').touched">please enter your
                    email</span>
                <!-- <span class="error" *ngIf="!eml.">please enter a valid email</span> -->
            </div>
        </div>

        <div class='field' [ngStyle]="{height: '80px'}">
            <span>Password</span>
            <div [ngStyle]="{display: 'flex',
            'flex-direction': 'column',
            width: '316px'}">
                <div class='auth-in-data'>
                    <input formControlName="password" class='auth-in pass' type='password'
                        placeholder='Enter your password'>
                    <!-- <a style="z-index: 1;">
                        <img src="assets/images/Auths/passVisibilty.png" />
                    </a> -->
                </div>
                <span class="error"
                    *ngIf="!form.get('password').valid && form.get('password').touched && form.get('password').errors['required']">
                    please enter a password
                </span>
                <span class="error" *ngIf="!form.get('password').valid && form.get('password').touched && (form.get('password').errors['noUpperCase']
                    || form.get('password').errors['noLowerCase']
                    || form.get('password').errors['noDigit']
                    || form.get('password').errors['noSpecialChar']
                    || form.get('password').errors['lessThanEight'])">
                    password must be at least 8 characters and contains at least one upper case, one lower case, one
                    digit, one special character
                </span>
            </div>
        </div>

        <div class='field'>
            <span>Confirm Password</span>
            <div>
                <div class='auth-in-data'>
                    <input formControlName="confirm password" class='auth-in pass' type='password'
                        placeholder='Enter your confirmed password'>
                    <!-- <a>
                        <img src="assets/images/Auths/passVisibilty.png" />
                    </a> -->
                </div>
                <span class="error"
                    *ngIf="!form.get('confirm password').valid && form.get('confirm password').touched && form.get('confirm password').errors['required']">please
                    enter your confirmed password</span>
                <span class="error" *ngIf="!form.get('confirm password').valid && form.get('confirm password').touched && 
                form.get('confirm password').errors['passwordsDoesNotMatch']">Confirm password must match with
                    password</span>
            </div>
        </div>

        <div class='field'>
            <span>Gender</span>
            <div class="radioChoices">
                <label>
                    <input formControlName="gender" type="radio" value="Male">
                    Male
                </label>
                <label>
                    <input formControlName="gender" type="radio" value="Female">
                    Female
                </label>
            </div>
        </div>

        <div class='field'>
            <span>Age</span>
            <div>
                <div class='auth-in-data'>
                    <input formControlName="age" class='auth-in' type='text' placeholder='Enter your age'>
                </div>
                <span class="error"
                    *ngIf="!form.get('age').valid && form.get('age').touched && form.get('age').errors['ageIsForbidden']">Your
                    age must be +16
                </span>
                <span class="error"
                    *ngIf="!form.get('age').valid && form.get('age').touched && form.get('age').errors['required']">
                    please enter your age
                </span>
            </div>
        </div>
    </div>
    <div class='helper-sec'>
        <div>
            <input type="checkbox" />
            <span>Remember me</span>
        </div>
        <a class='link'>Forget your password?</a>
    </div>
    <button type="submit" class='signup-btn' [disabled]="!form.valid">Sign up</button>
</form>
<button (click)="getUsers()" class='signup-btn'>get users</button>

<!-- [disabled]="!form.valid" -->