.main {
    display: flex;
    max-width: 100%;
    max-height: 100%;

    app-sidebar {
        display: flex;
        flex-direction: column;
        row-gap: 40px;
        width: 15%;
        height: 100%;
        padding-left: 15px;
        padding-top: 25px;
        position: fixed;
    }

    app-right-section {
        width: 80%;
        display: flex;
        flex-direction: column;
        padding-right: 15px;
        margin-left: auto;
    }
}

@media (max-width: 900px) {
    .main {
        app-sidebar {
            height: 100%;
            position: fixed;
            z-index: 1;
            top: 0;
            left: 0;
            overflow-x: hidden;
            overflow-y: hidden;
            padding-left: 15px;
            padding-top: 25px;
            background-color: white;
            transition: 0.5s;
        }

        app-right-section {
            width: 100%;
            display: flex;
            flex-direction: column;
            padding-right: 15px;
        }
    }
}

@media (max-width: 380px) {
    app-sidebar {
        width: 30%;
        padding-right: 2px;
        padding-left: 13px;
    }

    app-right-section {
        width: 114%;
        padding-left: 7px;
        padding-right: 0px;
    }
}