<div class="sidebar-head">
    <div class="head-name">
        <div>
            <img src="assets/images/sidebar/Motiv.png">
        </div>
        <div>
            <span>Motiv.</span>
        </div>
    </div>
    <button (click)="onCloseBtnClicked()" class="closebtn">
        <a>&times;</a>
    </button>
</div>

<div class="main-menu">
    <div class="big-menu">
        <app-selection-button [otherClicked]="buttonName" (clickedText)="getClickedButton($event)"
            *ngFor="let selection of bigMenuSelections" [selectionData]="selection">
        </app-selection-button>
    </div>
    <div class="small-menu">
        <app-selection-button [otherClicked]="buttonName" (clickedText)="getClickedButton($event)"
            *ngFor="let selection of smallMenuSelections" [selectionData]="selection">
        </app-selection-button>
    </div>
</div>