<div class='signup-page'>
    <div class='first-item'>
        <span class='head'>Get's started</span>
        <div>
            <span>Have an account?</span>
            <a class='link' [routerLink]="['/', 'signin']"> Sign in</a>
        </div>
    </div>
    <div class='second-item'>
        <div class='third-party-btns'>
            <button class="auth-btn google">
                <img src="assets/images/Auths/GoogleLogo.png" />
                <span>Sign in with Google</span>
            </button>
            <button class="auth-btn facebook">
                <img src="assets/images/Auths/FacebookLogo.png" />
                <span>Sign in With Facebook</span>
            </button>
        </div>
        <div>
            <hr />
            <span>or</span>
            <hr />
        </div>
        <app-form [formType]="'signup'"></app-form>
    </div>
</div>